syntax: glob

*.pyc
*.py.*
*.apk
.freecell4maemo/*
.git/*
.buildozer/*
android/bin/*
android/tmp/*
android/*.apk
*.sublime*
mk
ENV
ENV*/*
ARM*/*
bin/*
__pycache__/
test.*
spick*.*
temp/*
test/*
changes.txt
